body{background:blue; }
h1 {color:red; font-family:cursive; text-shadow:20px 10px black}
.sigma{color:black; text-decoration: none}
.sigmoid{color:black; text-decoration: overline}
.countdown {text-align: center}
.countdown h1 {font-size: 2rem; margin-bottom: 10px}
.countdown p {font-size: 1.5rem; margin: 5px 0}
